*{
    margin: 0px;
}
body{
    background-image: url(/img/bg-2.jpg);
    color: white;
    font-size: large;
    font-family: 'Bebas Neue', cursive;
}
.generateur{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 30px;
    padding: 2rem;
    width: 40rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    
}
h1{
    margin-top: 2rem;
    text-align: center;
    color:rgb(255, 147, 75) ;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
input{
    font-family: 'Bebas Neue', cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 240px;
    height: 2rem;
    margin-bottom: 20px;
    border-radius: 10px;
}
.bouton{
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    border:2px solid rgba(235, 108, 35, 0.87);
    font-size: large;
    height: 3.5rem;
    border-radius: 30px;
}
.bouton:hover{
    cursor: pointer;
    height: 3.5rem;
    transition: 1s;
    color: black;
    background-color: rgba(255, 115, 34, 0.486);
    border:2px solid black;
    border-radius: 30px;
}
p{
    margin: auto;
    margin-bottom: 10px;
}
.mdp{
    background-color: rgba(250, 119, 58, 0.863);
    margin: auto;
    margin-bottom: 10px;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
}
.btn-copy{
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
    width: auto;
    height: auto;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.603);
}
.btn-copy:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0px;
}